$primary: #120735; //background
$secondary: #270a4c; // interactin
$info: #e0c18a;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-900;
@import "../node_modules/bootstrap/scss/bootstrap";